#MySkills {
  margin-top: 20rem;
  .page-subtitle {
    width: 50%;
  }

  @media (max-width: 1200px) {
    .bottom-section {
      flex-direction: column !important;
    }
    .bottom-section__tagcloud {
      margin-top: 10rem !important;
    }
    /*
    .page-subtitle {
      width: 100%;
    }
    */
  }

  .bottom-section {
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > div {
      width: 100%;
    }
  }

  .bottom-section__skills {
    gap: 5rem;

    h2 {
      font-family: $roboto;
      font-size: 1.9rem;
      color: $white;
      letter-spacing: 0.05rem;
    }

    .bottom-section__skills-container {
      display: flex;
      flex-direction: column;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      padding-top: 2rem;

      .bottom-section__skills-skill {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        max-width: 0;
        // transition: all 0.5s ease-in-out;

        hr {
          height: 0.4rem;
          background-color: $blue-aqua-strong;
          border: none;
          border-radius: 1rem;
        }

        .skill__top-section {
          display: flex;
          justify-content: space-between;

          h3,
          .skill-percentage {
            color: $blue-aqua-smooth;
            font-size: 1.7rem;
            transition: all 0.5s ease-in-out;
            &.hidden {
              opacity: 0;
            }
            &.shown {
              opacity: 1;
            }
          }
          .skill-percentage {
            font-weight: bold;
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  .bottom-section__tagcloud {
    margin-top: -10rem;
  }

  .bottom-section__tagcloud img {
    height: 7rem;
    width: 7rem;
  }
}
