.Navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 3.3rem 11rem;
  background: linear-gradient(to bottom, $dark-blue 70%, rgba(0, 0, 0, 0));
  z-index: 9999;

  .content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      cursor: pointer;
    }

    .right-side {
      a {
        background: none;
        border: none;
        cursor: pointer;
        color: $blue-aqua-strong;
        text-decoration: none;
        font-size: 1.5rem;
        &:hover {
          text-decoration: underline;
        }
      }

      .navigation {
        @media (max-width: 1000px) {
          display: none;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        letter-spacing: 2px;
      }

      .burger-button {
        z-index: 1111;
        @media (min-width: 1000px) {
          display: none;
        }
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .burger-stick {
          z-index: 1111;
          width: 100%;
          height: 0.5rem;
          border-radius: 75px 75px;
          background: $blue-aqua-strong;
          transition: all 0.4s ease-in-out;
        }

        &.opened {
          .burger-stick:nth-child(1) {
            transform: rotate(45deg) translateY(0.4rem) translateX(0.5rem);
          }
          .burger-stick:nth-child(2) {
            transform: rotate(-45deg) translateY(-0.4rem) translateX(0.46rem);
          }
        }
      }

      .mobile-navigation {
        transition: all 0.5s ease-in-out;
        @media (min-width: 1000px) {
          display: block;
        }
        right: -90%;
        width: 90%;
        position: absolute;
        height: 100vh;
        z-index: 1001;
        top: 0;

        &.opened {
          right: 0;
        }

        .background {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: rgba($dark-blue, 0.5);
          z-index: -1;
          backdrop-filter: blur(1.5rem);
        }

        nav {
          display: flex;
          height: 100%;
          width: 100%;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          a {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
